@import "../../responsive.scss";

.list{
    display: flex;
    height: 100%;

    .listContainer{
        flex: 3;
        height: 100%;


        .wrapper{
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow-y: scroll;
            height: 100%;
            padding-bottom: 50px;
        }
    }

    .imgContainer{
        flex: 2;
        background-color: #fcf5f3;
        padding-top: 42px;
        
        @include md{
            display: none;
        }
    }
}
