.singleresource{
    display: flex;
    position: relative;

    .right{
        flex: 6;
        overflow-y: auto;

        .container{
            height: calc(100vh - 100px);
            padding: 20px;

            .btns{
                display: flex;
                justify-content: flex-end;
                padding-right: 22px;

                    .btnContainer{
                        .edit{
                            cursor: pointer;
                            color: rgba(0, 128, 0, 0.76);
                        }
    
                    }
                   
            }


            h1{
                display: flex;
                justify-content: center;
                margin-top: 22px;
            }

            .content{
                display: flex;
                flex-direction: column;
                gap: 18px;
                margin-top: 22px;
                width: 70%;
                margin-left: 40px;

                h3{
                    font-weight: 400;
                }
            }
        }
    }


}
