.newcourse{
    display: flex;

    .right{
        flex: 6;
        overflow-y: auto;

        .title{
            display: flex;
            justify-content: center;
        }

        .form-container{
            //border: 2px solid red;
            padding: 15px;
            height: calc(100vh - 100px);
            overflow-y: auto;
            //border: 2px solid #7c7a7a59;
            border-radius: 8px;
            margin: 12px;

            form{
                margin-top: 30px;;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
               

                .formInput{
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    input, textarea{
                        width: 100%;
                        padding: 20px;
                        border: 1px solid #ccc;
                        border-radius: 5px;

                        &:focus{
                            outline: none;
                        }
                    }
                    
                }
            }

            .bottom{
                //border: 2px solid green;
                display: flex;
                justify-content: center;
                

                .btn{
                    margin-top: 42px;
                    width: 200px;
                    padding: 20px;
                    //border-radius: 12px;
                    font-weight: bold;
                    border: none;
                    background-color: #fece51;
                    cursor: pointer;
                    transition: all 0.4s ease;

                    &:hover{
                        scale: 1.05;
                    }
                }

            }
        }
    }
}