.notifications-alert{
    background-color: #fcf5f3;
    padding: 20px;
    width: 90%;
    //border: 2px solid red;;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;

    .btns{
        display: flex;
        gap: 12px;
        justify-content: flex-end;

        .button{
            cursor: pointer;
            padding: 5px;
            border-radius: 5px;

            &:hover{
                background-color: #fece51;
            }
        }
    }

    .title{
        font-weight: bold;
    }
    
}